<h1>Please login to order </h1>

  
<%= form_tag :action => :create do %>

<br><%= label_tag(:name, "Name") %><br>
<%= text_field_tag(:name) %><br>
<%= label_tag(:password, "Password") %><br>
<%= password_field_tag(:password) %><br><br>

<%= submit_tag "Login"  %>
<% end %>
<br><br>

<%= link_to "Sign up", new_admin_path,{:method => :get} %>

