<!DOCTYPE html>
<html>
	<head>
		<title>
			Pragprog Books Online Store
		</title> 
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tag %>
	</head>
	<body class="<%= controller.controller_name %>">
	 
		<div id="banner">
			<%= image_tag("logo.png", height: '50', width: '120')  %>
			<%= @page_title || "Pragmatic Bookshelf" %>
		</div>
		<div id="columns">
			<div id="side"> 
				<% if current_page?(:controller => 'store', :action => 'index') %>
					<div id="cart">
        				<%= render :partial => 'carts/cart' %>
					</div>
				<% end %>
				
				<% if session[:user_id]!=nil %>

					<ul>
					
					<li>
									<%= link_to "Products", root_path %>
								</li>
								<li>
									<%= link_to "Your orders", orders_path(@order) %>
								</li> 
								<li>
									<%= link_to "Users", admins_path(@admin) %>
								</li> 
								<li><%= link_to "Log Out", session_path(session[:user_id]), :method => 'delete' %></li>
					
				</ul> 			
				<% else %>
							<ul><li></li></ul>
				<% end %>

				
			
			</div>
			<div id="main"> 
				<%= yield %>
	    	</div>
		</div>
	</body>
</html>